.bg-azul-claro {
    background-color: var(--azul-claro);
    color: var(--preto);
}

.bg-rosa-claro {
    background-color: var(--rosa-claro);
    color: var(--preto);
}

.bg-pink {
    background-color: var(--pink);
    color: white;
}

.bg-white {
    background-color: var(--white);
}

.btn-pink-out {
    border-color: var(--pink);
    background-color: var(--rosa-claro);
    color: var(--pink);
}

.btn-pink {
    border-color: var(--pink);
    background-color: var(--pink);
    color: white;
}

.tc-pink {
    color: var(--pink)
}


.logo img {
    max-width: 100px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    margin-left: 10px;
}

.menu ul li:first-child {
    margin-left: 0;
}

main section {
    margin-bottom: 30px;
}

li a {
    text-decoration: none;
}

.hg-img {
    height: 36px;
    width: 40px;

}

#sobre-nos {
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    /* Estilos para telas menores que a de um notebook */

    /* Ajuste o container principal para largura total em telas menores */
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    /* Ajuste o tamanho das colunas dos cards da home em telas menores */
    #custom-cards .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Ajuste a largura da imagem e o alinhamento da seção Sobre nós em telas menores */
    #sobre-nos {
        width: 100%;
    }

    /* Ajuste o tamanho da coluna do texto da seção Sobre nós em telas menores */
    #sobre-nos + .col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Ajuste o espaçamento da seção Recursos em telas menores */
    .px-4.py-4.text-center {
        padding: 1rem 1rem;
    }

    

}