<header>
    <div class="d-flex align-items-center justify-content-between py-4 mb-4">
        <div class="col-md-2 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex align-items-center link-body-emphasis text-decoration-none">
                <img class="ml-4" src="assets/imagens/logo.svg" alt="Logo">
            </a>
        </div>
        <div class="col-md-8">
            <ul class="nav col-12 col-md-auto mb-2 mb-md-0 justify-content-center">
                <li><a href="#" class="nav-link px-2 tc-pink">Início</a></li>
                <li><a href="../recurso/recurso.html" class="nav-link px-2 tc-pink">Recursos</a></li>
                <li><a href="../preco/preco.html" class="nav-link px-2 tc-pink">Preço</a></li>
                <li><a href="../contato/contato.html" class="nav-link px-2 tc-pink">Contato</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-pink-out mr-4">Log in</button>
            <button type="button" class="btn btn-pink" (click)="navigateToSignUp()">Sign up</button>
        </div>
    </div>
</header>

