<div class="container">
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input type="text" id="usuario" formControlName="usuario" class="form-control">
    </div>

    <div class="form-group">
      <label for="categoria">Categoria</label>
      <div class="categoria-wrapper">
        <select id="categoria" formControlName="categoria" class="form-control categoria-select">
          <option *ngFor="let categoria of categorias" [ngValue]="categoria">
            {{ categoria.titulo_categoria }}
          </option>
        </select>
        <button mat-mini-fab class="add-button" (click)="openModalCategories()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="titulo_debito">Título do Débito</label>
      <input type="text" id="titulo_debito" formControlName="titulo_debito" class="form-control">
    </div>

    <div class="form-group">
      <label for="data_saida">Data de Saída</label>
      <input type="date" id="data_saida" formControlName="data_saida" class="form-control">
    </div>

    <div class="form-group">
      <label for="valor">Valor</label>
      <input type="number" id="valor" formControlName="valor" class="form-control">
    </div>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea id="descricao" formControlName="descricao" class="form-control" maxlength="250"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!expenseForm.valid">Cadastrar Despesa</button>
  </form>
</div>
