<body class="bg-white">
    <main class="container mt-3">
      <!-- Cards da home -->
        <div class="container px-2 py-1" id="custom-cards">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-3 py-4">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 justify-content-center bg-azul-claro">
                    <h3 class="pt-3 mt-3 mb- display-5 lh-1 fw-bold">Mantenha suas finanças sob controle com atualizações em tempo real e gráficos intuitivos.</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-2">
                          <svg class="bi me-1" width="2em" height="2em"></svg>
                          <small>Controle Total das Finanças</small>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
    
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 justify-content-center bg-azul-claro">
                    <h3 class="pt-3 mt-3 mb- display-5 lh-1 fw-bold">Crie orçamentos personalizados e categorizados para todas as áreas da sua vida.</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-2">
                          <svg class="bi me-1" width="2em" height="2em"></svg>
                          <small>Orçamento Personalizado</small>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
    
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 justify-content-center bg-azul-claro">
                    <h3 class="pt-3 mt-3 mb- display-5 lh-1 fw-bold">Seus dados financeiros protegidos com as melhores práticas de segurança do mercado.</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-2">
                          <svg class="bi me-1" width="2em" height="2em"></svg>
                          <small>Segurança e Privacidade</small>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Sobre nós -->
        <div class="container col-xxl-6 px-4 py-4">
            <div class="row flex-lg-row-reverse align-items-center g-4 py-4">
              <div class="col-10 col-sm-8 col-lg-6">
                <img id="sobre-nos" src="assets/imagens/pessoas-estudando-estatistica.jpg" class="d-block mx-lg-auto img-fluid" alt="Pessoas estudando estatistica" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sobre a FinFIT</h1>
                <p class="lead">O FinFIT é um software de gestão financeira pessoal que ajuda indivíduos a controlar suas finanças de forma eficaz. Com recursos avançados de categorização de despesas, gráficos de desempenho e alertas personalizáveis, o FinFIT torna mais fácil do que nunca alcançar metas financeiras.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <button type="button" class="btn  btn-pink btn-lg px-4 me-md-2" (click)="navigateToSignUp()">Experimente agora</button>
                </div>
              </div>
            </div>
        </div>
        <!-- Recursos -->
        <div class="px-4 py-4 text-center">
            <div class="py-4">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Recursos da FinFIT</h1>
              <div class="col-lg-8 mx-auto">
                <p class="lead">Nosso sistema simplifica o gerenciamento de suas despesas pessoais, oferecendo uma interface intuitiva para acompanhar gastos, criar orçamentos personalizados e visualizar sua situação financeira de forma clara e organizada. Com foco na segurança dos dados, garantimos a proteção de suas informações enquanto você toma controle de suas finanças.</p>
              </div>
            </div>
          </div>
    </main>
</body>

